<ion-view view-title="Browse">
    <ion-tabs class="tabs-icon-only">
        <ion-tab title="Chat" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline">
            <ion-view>
                <ion-content class="has-header">
                  <h1>Chat</h1>
                </ion-content>
            </ion-view>
        </ion-tab>
        
        <ion-tab title="World" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
            <ion-view>
                <ion-content class="has-header">
                  <h1>Person</h1>
                </ion-content>
            </ion-view>
        </ion-tab>
        
        <ion-tab title="World" icon-on="ion-ios-world" icon-off="ion-ios-world-outline">
            <ion-view>
                <ion-content class="has-header">
                  <h1>World</h1>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

<!--<ion-tabs class="tabs-positive tabs-icon-only">-->
<!--    <ion-tab title="Local Deals" icon-on="ion-location" icon-off="ion-location">-->
<!--        <ion-view>-->
<!--            <ion-content>-->
<!--              <h1>Tab #1</h1>-->
<!--            </ion-content>-->
<!--        </ion-view>-->
<!--    </ion-tab>-->
<!--    <ion-tab title="Saved Searches" icon-on="ion-star" icon-off="ion-star">-->
<!--        <ion-view>-->
<!--            <ion-content>-->
<!--              <h1>Tab #2</h1>-->
<!--            </ion-content>-->
<!--        </ion-view>-->
<!--    </ion-tab>-->
<!--</ion-tabs>-->